<div class="list-control list-control-bottom pull-right" ng-show="!hidePagination && !hidePagination || (itemCount > 15)">
    <ul class="nav nav-pills pull-left">
        <li class="padding muted">
            Itens: <strong>{{itemCount}}</strong>
        </li>
        <li class="padding muted vtex-showing">
            Exibindo:
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="javascript:void(0)">
                <strong>{{perPage}}</strong>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu pagination-menu">
                <li>
                    <a tabindex="-1" ng-click="setNumItemsPerPage(15)">
                        <span>15</span>
                    </a>
                    <a tabindex="-1" ng-click="setNumItemsPerPage(30)">
                        <span>30</span>
                    </a>
                    <a tabindex="-1" ng-click="setNumItemsPerPage(50)">
                        <span>50</span>
                    </a>
                    <a tabindex="-1" ng-click="setNumItemsPerPage(100)">
                        <span>100</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="pagination pull-left">
        <ul>
            <li ng-class="disablePrevious">
                <a title="Página anterior" ng-click="changePage('prev')"><i class="icon-caret-left"></i></a>
            </li>
            <li>
                <input class="input-mini pull-left" type="text" ng-model="currentPageDisplay" ng-blur="pageInputBlur($event)" ng-keypress="pageInputKeyPress($event)" data-original-title="Página {{currentPage}} de {{pageCount}}">
            </li>
            <li ng-class="disableNext">
                <a title="Próxima página" ng-click= "changePage('next')"><i class="icon-caret-right"></i></a>
            </li>
        </ul>
    </div>
</div>